body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#navbar-top {

}

#navbar-top ul { 
    float: right;
    display: flex;
    list-style-type: none; 
    padding-left: 30px;
    padding-right: 30px;
}

#navbar-top ul li {
    padding-left: 15px;
}

#logo-container {
    padding-top: 109px;
}