html {
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    min-height: 100%;
}

.container {
    display: flex; 
    flex-direction: column; 
    align-content: stretch;
    justify-content: center;
    height: 100%;
}

#navbar-top {
    flex-direction: row;
    justify-content: end;
    flex: 1;
}

#navbar-top ul { 
    float: right;
    display: flex;
    list-style-type: none; 
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
    line-height: 40px;
}

#navbar-top ul li {
    padding-left: 15px;
}

.navbar-top-link {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.navbar-top-link:hover {
    opacity: 0.85;
    text-decoration: underline;
}

#apps-logo {
    vertical-align: middle;
    opacity: 0.55;
}

#apps-logo:hover {
    opacity: 0.85;
    cursor: pointer;
}

#sign-in-link {
    color: #fff;
    display: inline-block;
    border: 1px solid #4285f4;
    font-weight: bold;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    padding: 0 12px;
    border-radius: 2px;
    line-height: 28px;
    vertical-align: middle;
}

#sign-in-link:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    cursor: default;
}

#main-content {
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-container {
    margin-top: 23px;
    height: 233px;
}

#logo-container img {
    padding-top: 109px;
}

form img {
    position: absolute;
    margin-left: 16px;
    margin-top: 6px;
}

#search-query-field {
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 584px;
    padding-left: 40px;
}

#search-query-field:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#search-query-field:focus {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#buttons {
    padding-top: 18px;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 70px;
}

#buttons button {
    display: inline-block;
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

#buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
    cursor: pointer;
}

#country-link {
    text-decoration: none;
}

#navbar-bottom {
    position: absolute;
    bottom: 0;
    flex: 1;
    width: 100%;
    background: #f2f2f2;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

#country-bar {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    height: 40.5px;
}

#country-name {
    display: inline-block;
    line-height: 40px;
    color: rgba(0,0,0,.54);
    font-size: 15px;
}

#navbar-bottom-links {
    height: 41px;
    display: block;
}

#navbar-bottom-links a {
    color: #5f6368;
    text-decoration: none;
}

#navbar-bottom-links a:hover {
    text-decoration: underline;
}

#left-navbar-bottom li {
    padding-left: 27px;
    color: #5f6368;
}

#left-navbar-bottom:first-child {
    padding-left: 3px;
}

#right-navbar-bottom li {
    padding-right: 27px;
    color: #5f6368;
}

#right-navbar-bottom:last-child {
    padding-right: 3px;
}

#left-navbar-bottom {
    display: flex; 
    list-style-type: none; 
    float: left;
    padding: 0;
}

#right-navbar-bottom {
    display: flex; 
    list-style-type: none; 
    float: right;
}